* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #0A0A0A;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #7C3AED;
    text-align: center;
    margin-top: 0px;
}

p {
    text-align: center;
    margin-top: 0px;
}nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #111;
}

nav h2{
    color: #7C3AED;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #7C3AED;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    min-height:100vh;
    padding-top:20px;
}

.hero h1{
    font-size:72px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero h3{
    color:#7C3AED;
    font-size:32px;
    margin-bottom:25px;
}

.hero p{
    color:#bdbdbd;
    width:600px;
    max-width:90%;
    margin:auto;
    line-height:1.8;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#7C3AED;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#5B21B6;
}.buttons{
    margin-top:30px;
}

.btn2{
    display:inline-block;
    margin-left:15px;
    padding:15px 35px;
    border:2px solid #7C3AED;
    color:#7C3AED;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.btn2:hover{
    background:#7C3AED;
    color:white;
}.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px;
    min-height:100vh;
    padding-top:20px;
}

.hero-text{
    width:100%;
}

.hero-image{
    width:100%;
    text-align:center;
}

.hero-image img{
    width:600px;
    border-radius:1000%;
    border:3px solid #7C3AED;
    margin-top: -170px;
    box-shadow:0 0 50px #7C3AED;
}.logo{
    font-size:32px;
    font-weight:bold;
    color:white;
}

.logo span{
    color:#7C3AED;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#111;
    z-index:1000;
}

body{
    padding-top:90px;
}nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

nav ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #7C3AED;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: #7C3AED;
}
.hero-text{
    flex: 1;
    animation: slideLeft 1s ease;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
    animation: slideRight 1s ease;
}@keyframes slideLeft{
    from{
        opacity: 0;
        transform: translateX(-80px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight{
    from{
        opacity: 0;
        transform: translateX(80px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}.social-icons{
    margin-top:0px;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:50px;
    height:50px;
    margin-right:15px;
    border:2px solid #7C3AED;
    border-radius:50%;
    color:#7C3AED;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

.social-icons a:hover{
    background:#7C3AED;
    color:white;
    transform:translateY(-5px);
}@media (max-width: 768px){.menu-icon{
    display:block;
}

nav ul{
    display:none;
}

    nav{
        flex-direction: column;
        padding: 20px;
    }

    nav ul{
        margin-top: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 1px 1px;
    }

    .hero-text{
        width: 100%;
    }

    .hero-image{
        margin-top: 40px;
    }
    .social-icons{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        gap:15px;
    }
}
.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}

/* About Section */

.about{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
    padding:100px 80px;
}
    


.about-image{
    flex: 1;
    text-align: center;
}

.about-image img{
    width: 350px;
    border-radius: 20px;
    border: 4px solid #7C3AED;
    box-shadow: 0 0 25px #7C3AED;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 48px;
    color: #7C3AED;
    margin-bottom: 20px;
}

.about-content p{
    color: #bbb;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: left;
}
    .hero h1{
        font-size: 42px;
    }

    .hero h3{
        font-size: 22px;
    }

    .hero p{
        width: 100%;
    }

    .buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .social-icons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
    .menu-icon{
        display:none;
        font-size:30px;
        color:white;
        cursor:pointer;
    }
 /* About Section */

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 80px;
    min-height: 100vh;
}
.about-image{
    flex: 1;
    text-align: center;
}

.about-image img{
    width: 350px;
    border-radius: 20px;
    border: 4px solid #7C3AED;
    box-shadow: 0 0 25px #7C3AED;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 48px;
    color: #7C3AED;
    margin-bottom: 20px;
}

.about-content p{
    color: #bbb;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: left;
}/* Portfolio */

.portfolio{
    padding: 100px 80px;
    text-align: center;
}

.portfolio h2{
    font-size: 48px;
    color: #7C3AED;
    margin-bottom: 50px;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    background: #151515;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card:hover{
    transform:translateY(-12px) scale(1.03);
    box-shadow:0 15px 35px rgba(124,58,237,0.5);
}

.card:hover img{
    transform:scale(1.08);
}


.card h3{
    margin:20px 0 10px;
}

.card p{
    margin-bottom:20px;
    color:#bbb;
}
/* Services */

.services{
    padding:100px 80px;
    text-align:center;
}

.services h2{
    font-size:48px;
    color:#7C3AED;
    margin-bottom:50px;
}

.services-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.service-card{
    background:#151515;
    padding:40px 25px;
    border-radius:15px;
    transition:.4s;
    cursor:pointer;
}

.service-card i{
    font-size:50px;
    color:#7C3AED;
    margin-bottom:20px;
}

.service-card h3{
    margin-bottom:15px;
}

.service-card p{
    color:#bbb;
    line-height:1.7;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #7C3AED;
}/* Contact */

.contact{
    padding:100px 80px;
    text-align:center;
}

.contact h2{
    font-size:48px;
    color:#7C3AED;
    margin-bottom:20px;
}

.contact p{
    color:#bbb;
    margin-bottom:40px;
}

.contact form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact input,
.contact textarea{
    background:#151515;
    color:white;
    border:2px solid #333;
    border-radius:10px;
    padding:15px;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.contact input:focus,
.contact textarea:focus{
    border-color:#7C3AED;
}

.contact textarea{
    min-height:180px;
    resize:none;
}

.contact button{
    border:none;
    cursor:pointer;
}/* Footer */

footer{
    background:#111;
    text-align:center;
    padding:30px 20px;
}

footer p{
    color:#bbb;
    margin-bottom:20px;
}

.footer-social a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:45px;
    height:45px;
    margin:0 10px;
    border:2px solid #7C3AED;
    border-radius:50%;
    color:#7C3AED;
    text-decoration:none;
    transition:.3s;
}

.footer-social a:hover{
    background:#7C3AED;
    color:white;
}